<%= render partial: "forums/partials/header" %>

<table id="categories" class="forum-table">
	<thead>
		<th colspan=2>Category</th>
		<th>Stats</th>
		<th>Last Post</th>
	</thead>
	<tbody>
		<% @categories.each do |category| %>
		<tr>
			<td><%= image_tag "stats/spirit.png", width: 20, height: 20 %></td>
			<td>
				<span class="title"><%= link_to category.name, action: "category", category_id: category.id %></span><br>
				<span class="light"><%= category.description %></span>
			</td>
			<td>
				<%= category.topics %> <span class="light"><%= "Topic".pluralize(category.topics) -%></span><br>
				<%= category.replies %> <span class="light"><%= "Reply".pluralize(category.replies) -%></span>
			</td>
			<td>
				<% if category.user_id -%>
					<%= category.topic_id ? (link_to "#{'Re: ' if category.topic_id != category.post_id}#{category.subject}", action: "topic", category_id: category.id, topic_id: category.topic_id) : "None" -%><br>
					<span class="light">By <%= name_link(category.user_id) %> - <%= duration_ago(category.last_post_date) %></span>
				<% else -%>
					<span class="light">No Posts</span>
				<% end -%>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
