<header>
	<div id="title-bar"><div class="bounds">
		<% if @user.logged_in? %>
			<div id="notifications"><%= link_to "logout", "/logout" -%></div>
		<% end %>
		<div id="game-title">Trisphere</div>
	</div></div>
	<div class="color-bar"></div>
	<nav><div class="bounds cf">
		<% if @user.logged_in? %>
			<div class="float-left">
				<%= navigation_tag({ controller: "character", action: "home" }, "home", "Character")%>
				<%= navigation_tag({ controller: "inventory", action: "index" }, "axe", "Inventory")%>
				<%= navigation_tag({ controller: "character", action: "home" }, "crystal", "Skills")%>
				<%= navigation_tag({ controller: "character", action: "home" }, "shield", "Quests")%>
				<%= navigation_tag({ controller: "character", action: "home" }, "sword", "Explore")%>
				<%= navigation_tag({ controller: "character", action: "home" }, "orb", "Market")%>
				<%= navigation_tag({ controller: "forums", action: "index" }, "scroll", "Forums")%>
			</div>
			<div class="float-right">
				<%= navigation_tag({ controller: "character", action: "home" }, "gear", "", class: "nopad")%>
			</div>
		<% else %>
			<div class="float-left">
				<%= navigation_tag({ controller: "index", action: "index" }, "home", "Home")%>
				<%= navigation_tag({ controller: "index", action: "index" }, "scroll", "Contact Us")%>
				<%= navigation_tag({ controller: "index", action: "index" }, "orb", "Register")%>
			</div>
			<div class="float-right" id="login">
				<%= form_tag({ controller: "index", action: :login }, method: :post) do |f| %>
					<%= text_field_tag "username", nil, placeholder: "username", autofocus: true %>
					<%= password_field_tag "password", nil, placeholder: "password" %>
					<%= submit_tag "Login" %>
				<% end %>
			</div>
		<% end %>
	</div></nav>
</header>
