<div id="sidebar" ng-controller="CharacterController" ng-init="initialize(<%= @user.gold %>, <%= @user.shards %>, <%= @character.to_sidebar_json %>)">
	<div id="character-panel" class="cf">
		<div id="avatar"><%= image_tag("class/knight_stand.png") %></div>
		<div class="row">
			<span id="name"><%= @character.name %></span>
			<div id="switch" class="switch-button">SWITCH</div>
		</div>
		<div class="row">
			<span id="class">Paladin</span>
			<span id="classes"><span id="surclass">Knight</span>/<span id="subclass">Cleric</span></span>
		</div>
		<div class="row">
			<span id="companion">Level {{character.level}}</span>
			<span id="companion-level">Here</span>
		</div>
	</div>
	<div id="stat-bars" class="cf">
		<bar source="character" current="xp" max="xpm" color="#7ed036" label="XP" width="216" instant="true"></bar>
		<bar source="character" current="energy" max="1000" color="#9fa03c" label="EN" width="216" instant="true"></bar>
		<bar source="character" current="fatigue" max="1000" color="#a0793c" label="FA" width="216" instant="true"></bar>
		<% if false %>
		<%= character_bar("Level", "level", "green", @character.level, @character.xp, @character.xpm) %>
		<%= character_bar("HP", "heart", "red", nil, @character.hp, @character.hpm, true) %>
		<%= character_bar("MP", "mana", "blue", nil, @character.mp, @character.mpm, true) %>
		<%= character_bar("Energy", "energy", "yellow", @character.energy, @character.energy, 1000, false, true) %>
		<%= character_bar("Fatigue", "fatigue", "orange", @character.fatigue, @character.fatigue, 1000, false, true) %>
		<% end %>
	</div>
	<div class="separator"></div>
	<div id="companion" class="cf">
		<%= image_tag("items/old/taming_crystal_minor.gif", class: "icon") %>
		<div class="row">
			<span class="name">Noah the Wise</span>
			<div class="switch-button switch">SWITCH</div>
		</div>
		<div class="row">
			<span class="type">Gray Wolf</span>
			<span class="level">Lv. 14</span>
		</div>
	</div>
	<div class="separator"></div>
	<div id="finance" class="cf">
		<span class="entry"><%= image_tag("layout/icon_coin.png") %> {{gold}}</span>
		<span class="entry"><%= image_tag("layout/icon_shard.png") %> {{shards}}</span>
	</div>
	<div class="separator"></div>
	<div id="navigation">
		<div class="cf">
			<div class="block">
				<div class="header">CHARACTER</div>
				<div class="links">
					<%= link_to("Statistics", controller: "character", action: "home") %>
					<%= link_to("Inventory", controller: "inventory", action: "index") %>
					<%= link_to("Stables", controller: "character", action: "home") %>
					<%= link_to("Skills", controller: "character", action: "home") %>
					<%= link_to("Achievements", controller: "character", action: "home") %>
				</div>
			</div>
			<div class="block">
				<div class="header">WORLD</div>
				<div class="links">
					<%= link_to("Quests", controller: "character", action: "home") %>
					<%= link_to("Rinau", controller: "character", action: "home") %>
					<%= link_to("Sazaru", controller: "character", action: "home") %>
					<%= link_to("Alaer", controller: "character", action: "home") %>
					<%= link_to("Explore", controller: "world", action: "index") %>
				</div>
			</div>
		</div>
		<div class="navigation-separator"></div>
		<div class="cf">
			<div class="block">
				<div class="header">COMMUNITY</div>
				<div class="links">
					<%= link_to("Friends", controller: "friends", action: "index") %>
					<%= link_to("Forums", controller: "forums", action: "index") %>
					<%= link_to("Marketplace", controller: "character", action: "home") %>
					<%= link_to("Trading Post", controller: "character", action: "home") %>
					<%= link_to("Trimail", controller: "character", action: "home") %>
				</div>
			</div>
			<div class="block">
				<div class="header">MISC</div>
				<div class="links">
					<%= link_to("Rankings", controller: "character", action: "home") %>
					<%= link_to("Help", controller: "character", action: "home") %>
					<%= link_to("Referrals", controller: "character", action: "home") %>
				</div>
			</div>
		</div>
	</div>
</div>