<div class="post cf">
	<div class="author">
		<span class="username"><%= name_link(post.user_id, class: "large") %></span><br>
		<% unless post.avatar.blank? %>
			<%= image_tag post.avatar, width: 100, height: 30, class: "avatar" -%><br>
		<% end %>
		<strong><%= post.posts %></strong> <span class="light">posts</span>
	</div>
	<div class="message">
		<div class="header cf">
			Posted <%= format_date(post.post_date) %>
			<% if post.edit_date -%>
				<em>Edited <%= format_date(post.edit_date) -%></em>
			<% end -%>
			<div class="actions float-right">
				<% unless @preview -%>
					<%= link_to "Edit", { action: "post", category_id: @category.id, topic_id: @topic.id, post_id: post.id }, class: "button" %>
					<%= link_to "Delete", { action: "delete", category_id: @category.id, topic_id: @topic.id, id: post.id }, class: "button", confirm: "Are you sure you want to delete this post?" %>
				<% end -%>
			</div>
		</div>
		<div class="content">
			<%= post.message %>
		</div>
		<% unless post.signature.blank? -%>
		<div class="signature">
			<%= post.signature %>
		</div>
		<% end %>
	</div>
</div>
