<div class="stat-panel <%= name -%>">
	<div class="value">1{{stat[<%= name -%>]}}</div>
	<div class="raw">
		<div class="base">1{{rawStat[<%= name -%>]}}</div>
		<div class="add">+1{{addStat[<%= name -%>]}}</div>
	</div>
	<div class="name"><%= name.titleize -%></div>
</div>