<section id="inventory" class="padded" ng-controller="InventoryController">
	<div id="stats">
		<%= render partial: "stat_panel", locals: { name: "strength" } %>
		<%= render partial: "stat_panel", locals: { name: "wisdom" } %>
		<%= render partial: "stat_panel", locals: { name: "defense" } %>
		<%= render partial: "stat_panel", locals: { name: "agility" } %>
		<%= render partial: "stat_panel", locals: { name: "stamina" } %>
		<%= render partial: "stat_panel", locals: { name: "spirit" } %>
	</div>
	
	<div id="columns">
		<div id="equipped">
			<div class="header"><span>Equipped</span></div>
			<div id="doll">
				<item ng-repeat="item in equipped"></item>
			</div>
		</div>
		
		<div id="bags">
			<div class="header"><span>Bags</span></div>
			<item ng-repeat="item in bags"></item>
		</div>
		
		<div id="amulet">
			<div class="header"><span>Amulet</span></div>
			<!--<item ng-repeat="item in items"></item>-->
		</div>
	</div>
</section>

<div id="tooltip" tooltip class="{{item.rarity | lowercase}}"><div id="tooltip-content">
	<div class="row name"><strong>{{item.name}}</strong></div>
    <div class="row"><div class="effect">{{item.effect}}</div><div class="type">{{item.type}} ({{item.subtype}})</div></div>
    <div class="row attributes">
    	<div ng-repeat="(stat, value) in item.data track by $id($index)" class="attribute">+<strong>{{value}}</strong> {{stat}}</div>
    <div class="row bottom"><div class="price">{{item.price}}</div><div class="level">{{item.level}}</div></div>
</div></div>
